# mac
.DS_Store

# python
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

# c++ build
build/

.cache

# vscode
.vscode/
.prettierrc.json

# esp-idf
sdkconfig


# data files
**/*.txt
**/*.csv
**/*.png